@{
    ViewBag.Title = "申请杂志";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section header{
  <style type="text/css">	
.sd{padding-top:8px;height:400px;width:642px;margin:0 20px;}
.left_shang{width:622px;background:#50A5DA;color:#FFFFFF;font-weight:bold;height:28px;line-height:28px;padding-left:20px;font-size:14px;margin:0 20px;}	
.left_shang a{color:#fff; text-decoration:none}
.left_shang a:hover{color:#fff; text-decoration:underline;}
.container{width:622px;padding-left:20px;height:100px;margin:0 20px; overflow:hidden;margin-top:20px;}
#tup_1 {float:left;margin-left:10px;}
#tup_1 img {border:0;}
.title{width:622px;font-size:14px;color:#004499;text-indent:1em;line-height:25px;padding-top:10px;padding-left:20px;}
#tup_2 {float:left;margin-left:10px;}
#tup_2 img {border:0;}
.titles{font-size:14px;line-height:22px;margin:0 20px;width:630px;padding-right:12px;color:#605E5E;}
</style>
}
<div class="left_shang">
    <a href="/">首页</a>--赠阅申请
</div>
<div class="sd">
    <img src="images/banner.jpg" /></div>
<div class="container">
    <div id="tup_1">
        <a href="#">
            <img src="images/mag_dy_01.jpg" /></a><img src="images/mag_dy_02.jpg" /></div>
    <div id="tup_2">
        <a href="#">
            <img src="images/mag_dy_03.jpg" /></a><img src="images/mag_dy_02.jpg" /></div>
    <div id="tup_2">
        <a href="#">
            <img src="images/mag_dy_04.jpg" /></a><img src="images/mag_dy_02.jpg" /></div>
    <div id="tup_2">
        <a href="#">
            <img src="images/mag_dy_05.jpg" /></a></div>
</div>
<div class="titles">
    <p style="font-size: 14px; line-height: 25px; padding-left: 25px;">
        <span style="color: #116092; font-weight: bold;">注：</span>&nbsp;&nbsp;1.如果您已经是工厂工程网站会员，请<a
            href="http://www.planteng.cn/login" target="_blank" style="color: #116092; font-weight: bold;">登录</a>到个人管理中心申请赠阅杂志。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.PLANT ENGINEERING China杂志赠阅只面向专业读者，本刊发行部保留对杂志赠阅的最终<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;决定权。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.有关杂志赠阅事宜，您有什么疑问，可通过以下方式与我联系：<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;电话：010-57166346
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;传真：010-82052768<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Email：arielzhang@planteng.cn
        <br />
        <br />
        <span style="color: #116092; font-weight: bold; padding-top: 20px;">PLANT ENGINEERING
            China杂志介绍</span><br />
        &nbsp;&nbsp;&nbsp;&nbspPLANT; ENGINEERING China （工厂工程中文版）是美国CFE Media集团最有影响力的媒体刊物之一PLANT
        ENGINEERING 的中文版本，于2012年正式进入中国，每季度出版，面向全国发行。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; PLANT ENGINEERING China沿袭了其国外原版媒体的所有优秀要素，秉承以工厂为中心的工业媒体视角，为工厂用户、工厂设备制造商等具有专业化信息服务需求的人群，提供高品质的媒体内容、信息服务及交流平台。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;PLANT ENGINEERING China 覆盖工厂全生命周期，涉及到设备维护管理、能源管理、厂房布局设计、安全安防、工厂发展可持续等重要话题，涵盖机械/电气/自动化技术等诸多方面。PLANT
        ENGINEERING China 希望能以全球范围内先进的工厂技术、理念与实践的报道，迎合中国工业企业对知识与技术信息的更新需求，从而更加从容地应对来自自身发展与全球化竞争的各种挑战。<br />
        &nbsp;&nbsp;&nbsp;&nbspPLANT; ENGINEERING China 杂志全国发行，覆盖面广，印刷版杂志每期定向发行10,000册。
    </p>
</div>
