/temp
/*.user
/Images
/PlantEng.Core/bin
/PlantEng.Core/obj

/PlantEng.Login/bin
/PlantEng.Login/obj

/PlantEng.Web.PagesAdmin/bin


/PlantEng.Web.PagesAdmin/obj

/PlantEng.Web.WWW.Special/obj
/PlantEng.Web.WWW.Special/bin

/PlantEng.Web.WWW/bin
/PlantEng.Web.WWW/obj
/PlantEng.suo

/PlantEng.Web.Forum/*.dll
/PlantEng.Web.Forum/*.pdb

/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Aggregation.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Aggregation.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Data.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Data.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Forum.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Forum.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Plugin.dll
/PlantEng.Web.Forum/Discuz.Aggregation/bin/Release/Discuz.Plugin.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/obj/Release/Discuz.Aggregation.dll
/PlantEng.Web.Forum/Discuz.Aggregation/obj/Release/Discuz.Aggregation.pdb
/PlantEng.Web.Forum/Discuz.Aggregation/obj/Release/ResolveAssemblyReference.cache
/PlantEng.Web.Forum/Discuz.Common/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Common/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Common/obj/Release/Discuz.Common.csproj.FileListAbsolute.txt
/PlantEng.Web.Forum/Discuz.Common/obj/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Common/obj/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Config/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Config/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Config/bin/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Config/bin/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Config/obj/Release/Discuz.Config.csproj.FileListAbsolute.txt
/PlantEng.Web.Forum/Discuz.Config/obj/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Config/obj/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Data.SqlServer/obj/Release/Discuz.Data.SqlServer.dll
/PlantEng.Web.Forum/Discuz.Data.SqlServer/obj/Release/Discuz.Data.SqlServer.pdb
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Data.dll
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Data.pdb
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Data/obj/Release/Discuz.Data.csproj.FileListAbsolute.txt
/PlantEng.Web.Forum/Discuz.Data/obj/Release/Discuz.Data.dll
/PlantEng.Web.Forum/Discuz.Data/obj/Release/Discuz.Data.pdb
/PlantEng.Web.Forum/Discuz.Entity/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Entity/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Entity/bin/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Entity/bin/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Entity/obj/Release/Discuz.Entity.csproj.FileListAbsolute.txt
/PlantEng.Web.Forum/Discuz.Entity/obj/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Entity/obj/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Data.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Data.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Forum.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Forum.pdb
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Plugin.dll
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Plugin.pdb
/PlantEng.Web.Forum/Discuz.Forum/obj/Release/Discuz.Forum.csproj.FileListAbsolute.txt
/PlantEng.Web.Forum/Discuz.Forum/obj/Release/Discuz.Forum.dll
/PlantEng.Web.Forum/Discuz.Forum/obj/Release/Discuz.Forum.pdb
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Plugin.dll
/PlantEng.Web.Forum/Discuz.Plugin/bin/Release/Discuz.Plugin.pdb
/PlantEng.Web.Forum/Discuz.Plugin/obj/Release/Discuz.Plugin.dll
/PlantEng.Web.Forum/Discuz.Plugin/obj/Release/Discuz.Plugin.pdb
/PlantEng.Web.Forum/Discuz.Web/admin/obj/Release/Discuz.Web.Admin.dll
/PlantEng.Web.Forum/Discuz.Web/admin/obj/Release/Discuz.Web.Admin.pdb
/PlantEng.Web.Forum/Discuz.Web/admin/obj/Release/ResolveAssemblyReference.cache
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Aggregation.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Aggregation.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Common.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Common.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Config.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Config.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Data.SqlServer.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Data.SqlServer.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Data.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Data.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Entity.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Entity.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Forum.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Forum.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Plugin.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Plugin.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Web.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Web.pdb
/PlantEng.Web.Forum/Discuz.Web/obj/Release/Discuz.Web.dll
/PlantEng.Web.Forum/Discuz.Web/obj/Release/Discuz.Web.pdb
/PlantEng.Web.Forum/Discuz.Web/obj/Release/ResolveAssemblyReference.cache
/PlantEng.Web.Forum/Discuz.Aggregation/obj/Release/build.force
/PlantEng.Web.Forum/Discuz.Common/bin/Release/Discuz.Common.dll.config
/PlantEng.Web.Forum/Discuz.Config/bin/Release/Discuz.Config.dll.config
/PlantEng.Web.Forum/Discuz.Data.SqlServer/obj/Release/ResolveAssemblyReference.cache
/PlantEng.Web.Forum/Discuz.Data.SqlServer/obj/Release/build.force
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Discuz.Data.dll.config
/PlantEng.Web.Forum/Discuz.Data/bin/Release/Microsoft.SqlServer.BatchParser.dll
/PlantEng.Web.Forum/Discuz.Entity/bin/Release/Discuz.Entity.dll.config
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Discuz.Forum.dll.config
/PlantEng.Web.Forum/Discuz.Forum/bin/Release/Microsoft.SqlServer.BatchParser.dll
/PlantEng.Web.Forum/Discuz.Plugin/obj/Release/build.force
/PlantEng.Web.Forum/Discuz.Web/admin/obj/Release/build.force
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Control.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Control.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Web.Admin.dll
/PlantEng.Web.Forum/Discuz.Web/bin/Discuz.Web.Admin.pdb
/PlantEng.Web.Forum/Discuz.Web/bin/ICSharpCode.SharpZipLib.dll
/PlantEng.Web.Forum/Discuz.Web/obj/Release/build.force