<div class="footer">
    <table border="0" cellspacing="0" cellpadding="0" style="margin-top: 6px;">
        <tr>
            <td width="357">
                <img src="/images/xia_logo.jpg" />
            </td>
            <td width="622" align="left">
                <a href="http://www.planteng.cn/about/about.aspx">关于我们</a> | <a href="http://www.planteng.cn/about/sitemap.htm">
                    网站地图</a> | <a href="http://www.planteng.cn/about/contact.aspx">联系我们</a> | <a href="http://www.planteng.cn/about/Friendship.aspx">
                        友情链接</a><br />
                &copy; 2003-2011 <a href="http://www.miibeian.gov.cn/" target="_blank">经营许可编号：京ICP证090436号</a>
                公安机关备案号：110102002318 服务热线：010-82053688<br />
                All content copyright &copy; 2010 Beijing Control Engineering Information Technology
                Co., Ltd.
            </td>
        </tr>
    </table>
</div>
<!--============结尾====================-->
