@{
    ViewBag.Title = "资料下载";
    Layout = "~/Views/Shared/_ResouceLayout.cshtml";
}
<div class="middle_content">
    <div class="normal_header">
        当前位置：<a href="http://www.planteng.cn/">首页</a> > 资源中心 > 资料下载</div>
    @Html.Action("_ArticleList", "Resouce", new { catIds = new int[] { 17 } })
</div>
