@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    
   
}
<style type="text/css">
    .SCtotalpage strong a{ float:right; width:110px; height:20px; line-height:20px; _height:18px; _line-height:18px; _padding-top:2px; background:url(../images/spritesbg.png) no-repeat 0px -135px; margin:6px 8px 6px 0px; display:inline; text-align:center; color:#fff;}
.SCtotalpage .settleMent{text-indent:-99999px; white-space:nowrap; display:block; overflow:hidden; background:url(../images/iconjiesuan.png) no-repeat; width:72px; height:20px; float:left; margin:6px 8px 0px 95px; display:inline;}

</style>
<div class="SCtotalpage">
    <a href="" class="settleMent2">立即购买</a>
</div>