@{
    var companyInfo = ViewBag.CompanyInfo;
    ViewBag.Title = string.Format("联系方式 - {0}", companyInfo.CompanyName);
    Layout = "~/Views/Shared/_CompanySpaceLayout.cshtml"; 
}
<div class="tab_title">
<h4>
    联系方式</h4>
</div>
<div class="clear">
</div>

