@{
    ViewBag.Title = "白皮书 - 资源中心";
    Layout = "~/Views/Shared/_ResouceLayout.cshtml";
}
<div class="middle_content">
    <div class="normal_header">
        白皮书</div>
    @Html.Action("_ArticleList", "Resouce", new { catIds = new int[] { 20 } })
</div>
