<?xml version="1.0"?>
<APIConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <AppCollection>
    <ApplicationInfo>
      <AppName>Login</AppName>
      <AppUrl>http://www.planteng.cn.3721.com/login</AppUrl>
      <APIKey>8ce9c05342b99a2db7c28f1d674b006e</APIKey>
      <Secret>5008abf5af74d42879f7baba51b92390</Secret>
      <CallbackUrl>http://bbs.planteng.cn.3721.com</CallbackUrl>
      <SyncUrl />
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
    <ApplicationInfo>
      <AppName>testapi</AppName>
      <AppUrl>http://api.bbs.planteng.cn.3721.com</AppUrl>
      <APIKey>749a23b0dc28a0adf18e0384b3248239</APIKey>
      <Secret>f71b6f8b6e82fa7d87807182e0bbedd1</Secret>
      <CallbackUrl>http://api.bbs.planteng.cn.3721.com/TestConsole.aspx</CallbackUrl>
      <SyncUrl />
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
  </AppCollection>
</APIConfigInfo>