@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_PassportLayout.cshtml";
}
<div id="box" class="w">
    <div class="mt">
        <h2>
            忘记密码</h2>
    </div>
    <div id="login" class="mc">
        <form method="post" id="loginForm">
        @Html.ValidationSummary()
        @if (ViewBag.Password != null)
        {
            <div class="success">成功。请牢记您的密码：@Html.Raw(ViewBag.Password)</div>
        }
        <div class="form">
            <div class="item">
                <span class="label">用户名：</span>
                <div class="fl">
                    @Html.TextBox("username", Request["username"], new { @class = "text" })
                </div>
            </div>
            <div class="item">
                <span class="label">Email：</span>
                <div class="fl">
                    @Html.TextBox("email", Request["email"], new { @class = "text" })
                </div>
            </div>
            <div class="item">
                <span class="label">&nbsp;</span>
                <input type="submit" value="找回密码" />&nbsp;<a href="/passport/login">登录</a>
            </div>
        </div>
        </form>
        <div class="clear"></div>
    </div>
</div>
