@{
    ViewBag.Title = "用户信息下载";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <fieldset>
        <legend>用户信息下载</legend>
        <form method="post" onsubmit="return checkForm();">
        <table>
            <tr>
                <td>开始时间：</td>
                <td><input type="text" value="@(Request["txtStartDate"])" id="txtStartDate" name="txtStartDate" /></td>
            </tr>
            <tr>
                <td>结束时间：</td>
                <td><input type="text" value="@(Request["txtEndDate"])" id="txtEndDate" name="txtEndDate" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="下载" /></td>
            </tr>
        </table>
        </form>
    </fieldset>
</div>
@section footer{
    <script type="text/javascript">
        $(document).ready(function () {
            //设置时间选择器
            $("#txtStartDate").datepicker({ dateFormat: 'yy-mm-dd', monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'], dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'] });
            $("#txtEndDate").datepicker({ dateFormat: 'yy-mm-dd', monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'], dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'] });
        });
        function checkForm() {
            var startDateObj = $('#txtStartDate');
            var endDateObj = $('#txtEndDate');
            return true;
            if (startDateObj.val() === '' || endDateObj.val() === '') {
                alert('请选择开始时间或结束时间！');
                return false;
            }
            return true;
        }
    </script>
}

