@{
    ViewBag.Title = "杂志";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section header{
    <style type="text/css">	
    body,img,ul,li{ list-style-type:none;padding:0; margin:0; border:0;}
    .sd{padding-top:8px; overflow:hidden;width:644px;margin:0 20px; font-family:Microsoft Yahei;}
    .left_shang{width:630px;background:#50A5DA;color:#FFFFFF;font-weight:bold;height:28px;line-height:28px;font-size:14px;margin:0 20px; padding-left:14px;}	
    .left_shang a{color:#fff; text-decoration:none}
    .left_shang a:hover{color:#fff; text-decoration:underline;}
    .titles_left{ width:220px; float:left;}
    .title_right{ width:410px; float:right; font-size:12px; line-height:20px;font-family:Microsoft Yahei;}
    .title_right a{ color:#000; text-decoration:none;}
    .line{ height:30px; width:644px;background:url(/images/mag/images/line.jpg) repeat-x; clear:both; padding:5px 0;}
    .list{ width:644px;}
    .list ul{ clear:both;}
    .list ul li{ float:left; margin-right:5px; margin-bottom:10px;}
    </style>
}
<div class="left_shang">
    <a href="/">首页</a>--过往期刊
</div>
<div class="sd">
    <div class="titles">
        <div class="titles_left">
            <a href="http://www.planteng.cn/eletter/issue/201404.html" target="_blank">
                <img src="/images/mag/images/toutiao_01.jpg" /></a>
        </div>
        <div class="title_right">
            <strong style="font-size: 15px; color: #003d7c; line-height: 25px;">封面故事</strong><br />
            <a href="http://www.planteng.cn/article/show/201503032210289943.html" target="_blank"
                style="font-weight: bold;">从破产到重生</a><br />
            当通用汽车在今年夏季遭遇了巨大的动荡后，其旗下位于密歇根的一 家工厂仍然致力于自身的不断提升。在通用汽车位于密歇根州Orion 镇的装配厂里，工作现场的“嗡嗡”声响个不停。看上去，这里并没
            有发生任何危机，也没有发生什么大的变化。尽管在某种程度上，危 机和变化都曾经存在于这家企业之中。<br />
            <strong style="font-size: 15px; color: #003d7c; line-height: 25px;">PE视点</strong><br />
            <a href="http://www.planteng.cn/article/show/201503032034352152.html" target="_blank">
                施耐德电气：“四化”推动国内中压行业发展</a><br />
            <a href="#http://www.planteng.cn/article/show/201503032040127645.html" target="_blank">
                西门子大连工厂：通讯与IT提升全厂价值</a><br />
            <strong style="font-size: 15px; color: #003d7c; line-height: 25px;">解决方案</strong><br />
            <a href="http://www.planteng.cn/article/show/201503032220170049.html" target="_blank">
                利用新技术保障维修效率</a><br />
            <a href="http://www.planteng.cn/article/show/201503032212147533.html" target="_blank">
                源于工厂的数据</a><br />
            <a href="http://www.planteng.cn/article/show/201503032227568782.html" target="_blank">
                打造并联机器人的“中国力量”</a><br />
        </div>
    </div>
    <div class="line">
    </div>
    <div class="list">
        <ul>
            <li><a href="http://www.planteng.cn/eletter/issue/201403.html" target="_blank">
                <img src="/images/mag/images/02.jpg" /></a></li>
            <li><a href="http://www.planteng.cn/eletter/issue/201402.html" target="_blank">
                <img src="/images/mag/images/03.jpg" /></a></li>
            <li><a href="http://www.planteng.cn/eletter/issue/201401.html" target="_blank">
                <img src="/images/mag/images/01.jpg" /></a></li>
            <li><a href="http://www.planteng.cn/eletter/issue/201304.html" target="_blank">
                <img src="/images/mag/images/08.jpg" width="155" /></a></li>
        </ul>
        <ul>
            <li><a href="http://www.planteng.cn/eletter/issue/201303.html" target="_blank">
                <img src="/images/mag/images/07.jpg" width="155" /></a></li>
            <li><a href="http://www.planteng.cn/eletter/issue/201302.html" target="_blank">
                <img src="/images/mag/images/06.jpg" width="155" /></a></li>
            <li><a href="http://www.planteng.cn/eletter/issue/201301.html" target="_blank">
                <img src="/images/mag/images/05.jpg" width="155" /></a></li>
        </ul>
    </div>
</div>
